<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstone.traffic">

    <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application

        android:name="com.capstone.traffic.global.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/chul_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chul_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Traffic"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.capstone.traffic"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <service android:name=".global.firebase.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name=".ui.my.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.my.editProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feed.find.FindActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feed.comment.CommentsActivity"
            android:exported="false" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".ui.feed.writefeed.WriteFeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.route.route.search.arrivalInform.ArrivalInformActivity"
            android:exported="false" />
        <activity
            android:name=".ui.route.direction.DirectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.route.route.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.route.board.bulletinBoard.ArriveInformActivity"
            android:exported="false" />
        <activity
            android:name=".ui.checkout.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>